
<div class="card p-x-37 d-flex flex-column align-items-center">
    <div class="box d-flex m-t-16 m-b-40">
        <img class="m-x-auto " src="<%=src %>" width="100">
    </div>
    <h4 class="h4 text-secondary m-b-4"><%- title %></h4>
    <p><%- text %></p>
</div>