<footer class="bg-primary">
    <div class="container m-x-auto">
        <div class="d-flex justify-content-between">
            <ul class="d-flex  align-items-center justify-content-between">
            <li><a class="link-text-white" href="#">首頁</a></li>
            <li><a class="link-text-white" href="#">系列鏡框</a></li>
            <li><a class="link-text-white" href="#">門市據點</a></li>
            <li><a class="link-text-white" href="#">部落格</a></li>
            <li><a class="link-text-white" href="#">常見問題</a></li>

        </ul>
        <ul class="d-flex">
            <li ><a href=""><div class="icon-box-sm"><img src="./assets/images/ic_social_fb.svg" alt=""></div></a></li>
            <li><a href=""><div class="icon-box-sm"><img src="./assets/images/ic_social_ig.svg" alt=""></div></a></li>
            <li><a href=""><div class="icon-box-sm"><img src="./assets/images/ic_social_line.svg" alt=""></div></a></li>
        </ul></div>
        <h3 class="d-flex"><div class="phone-box"><img src="./assets/images/ic_phone_48px.svg" alt=""></div><a class="link-text-white h3">0800-000-000</a></h3>
        <h3  class="d-flex"><div class="mail-box"><img src="./assets/images/ic_mail_outline_24px.svg" alt=""></div><a class="link-text-white h3">glasses@business.com</a></h3>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="text-white">Copyright © 2020 Glasses.All rights reserved.</div>
            <ul class="d-flex">
                <li class="m-r-24"><a class="link-text-white" href="#">隱私權政策</a></li>
                <li><a class="link-text-white" href="#">服務條款</a></li>
    
            </ul>
        </div>

    </div>
</footer>