<%
var h3='Promise-Desert 2020 早春系列';
var h1='看得清，才能看得遠';
%>

<header class="header">
    <div class="h-100 text-secondary container  m-x-auto">
        <div class="h-100 d-flex flex-column  align-items-end justify-content-center">
            <h3 class="secondary-title"><%- h3 %></h3>
            <h1><%- h1 %></h1>
        </div>
    </div>
</header>