<div class="img-card bg-white border ">
    <img class="mb-2" src="<%=src %>" alt="">
    <p class="bold mb-2"><%-title %></p>
    <p class="mb-2"><%-text %></p>
    <p class="mb-2 text-gray"><%-time %></p>
</div>