<div class="message-card bg-white border">
    <img class="m-b-16" src="<%=src %>" alt="">
    <p class="bold m-b-16"><%-title %></p>
    <p class="m-b-16"><%-text %></p>
    <p class="m-b-16 text-gray"><%-time %></p>
</div>