

<nav class=" bg-primary d-flex nav">
    <a href="./index.html">
        <img class="logo" src="assets/images/logo-new_工作區域 1.png"></a>
    <ul class="d-flex justify-content-between align-items-center">
        <li><a class="link-text-white" href="./product.html">系列鏡框</a></li>
        <li><a class="link-text-white" href="#">門市據點</a></li>
        <li><a class="link-text-white" href="#">部落格</a></li>
        <li><a class="link-text-white" href="#">常見問題</a></li>
    </ul>
</nav>