<%
var h2 ='用專業的心，做專業的事';
var data=[
            {
                icon_src:'assets/images/iconfinder_44_2529968.svg',
                icon_class:'w-100',
                img_class:'img-class-1',
                special_class:'',
                text:'optical'
            },
            {
                icon_src:'assets/images/Layer_1.svg',
                icon_class:'w-100',
                img_class:'img-class-2',
                special_class:'special-img',
                text:'sunglasses'
            },
            {
                icon_src:'assets/images/Page-1.svg',
                icon_class:'h-100',
                img_class:'img-class-3',
                special_class:'',
                text:'functional'
            }
];
%>

<section class="p-t-64 m-b-80">
    <div class="m-x-auto container">
        <h2 class="h2 text-center text-secondary m-b-60"> <%- h2 %></h2>
        <%- include('classic-card.ejs',data[0]) %>
        <%- include('classic-card.ejs',data[1]) %>
        <%- include('classic-card.ejs',data[2]) %>
    </div>

</section>