<section class="m-b-144 p-t-64">
    <div class="container-xl m-x-auto">
        <h2 class="h2 text-center text-white m-b-60">聯名設計鏡框</h2>
        <div class="d-flex justify-content-between m-b-60">
            <di class="m-r-8">
                <img src="assets/images/zac-wolff-2qfYizn95pk-unsplash.png" alt="">
            </di>
            <div>
                <img class="m-b-8" src="assets/images/61.png" alt="">
                <div class="d-flex justify-content-between">
                    <div class="m-r-8">
                        <img src="assets/images/24.png" alt="">
                    </div>
                    <div>
                        <img class="m-b-8" src="assets/images/34.png" alt="">
                        <div class="more d-flex justify-content-end align-items-center">
                            <div class="more-box bg-white d-flex align-items-center">
                                <div class="h1 bold text-primary ">More</div>
                                <div class="icon-box m-l-17">
                                    <img src="assets/images/ic_arrow_forward_24px.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container m-x-auto">
        <div class="d-flex justify-content-between">
            <div class="double-a 聯名設計鏡框下面不知怎麼取名的box">
                <div class="h-100 w-100 bg-white-opacity">
                    <div class="h-100 d-flex justify-content-center align-items-center">
                        <div class="h1 text-primary bold">Double A+</div>
                    </div>
                </div>
            </div>
            <div class="youth 聯名設計鏡框下面不知怎麼取名的box">
                <div class="h-100 bg-white-opacity">

                    <div class="h-100 d-flex justify-content-center align-items-center">


                        <div class="h1 text-primary bold">YOUTH</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>