<div class="container-lg 聯名設計鏡框">
    <h2 class="text-center text-white">聯名設計鏡框</h2>
    <div class="d-flex justify-content-between">
        <div class="mr-1">
            <img src="assets/images/zac-wolff-2qfYizn95pk-unsplash.png" alt="">
        </div>
        <div>
            <img class="mb-1" src="assets/images/61.png" alt="">
            <div class="d-flex justify-content-between">
                <div class="mr-1">
                    <img src="assets/images/24.png" alt="">
                </div>
                <div>
                    <img class="mb-1" src="assets/images/34.png" alt="">
                    <div class="d-flex justify-content-end align-items-center tt">
                        <img src="assets/images/5.png" alt="" class="more-glass-img">
                        <div class="bg-white h1 bold text-primary more d-flex align-items-center"><span class="more-text">MORE</span>
                            <div class="forward">
                                <img src="assets/images/ic_arrow_forward_24px.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <ul class="d-flex double-youth">
        <li class="double-a double-youth-box">
            <a class="bg-white-opacity text-primary bold h-100 d-flex justify-content-center align-items-center">
                Double A+
            </a>
        </li>
        <li class="youth double-youth-box">
            <a class="bg-white-opacity text-primary bold h-100 d-flex justify-content-center align-items-center">
                YOUTH
            </a>
        </li>
    </ul>
</div>
