<section class="bg-tertiary">
    <div class="container">
        <div class="聯絡我們 m-x-auto">
            <h2 class="h2 text-center mb-3">聯絡我們</h2>
        <p class="mb-2">
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
        </p>
        <form action="">
            <div class="d-flex flex-column mb-2">
                <label>姓名</label>
                <input class="input" type="text" placeholder="陳小明" />
            </div>
            <div class="d-flex flex-column mb-2">
                <label>聯絡電話</label>
                <input class="input" type="text" placeholder="0912-345-678" />
            </div>
            <div class="d-flex flex-column mb-2">
                <label>電子郵件</label>
                <input class="input" type="text" placeholder="example@email.com" />
            </div>
            <div class="d-flex flex-column mb-2">
                <label>意見反應</label>
                <textarea class="input comment" placeholder="請輸入您的意見"></textarea>
            </div>
            <div class="mb-2 d-flex">
                <input id="checkbox" type="checkbox" class="mr-1 checkbox" />
                <label for="checkbox">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
            </div>
            <div class="text-center">
                <input type="button" value="確認送出" class="submit-button bold" />
            </div>
        </form>
        </div>
    </div>
</section>