<% 
var data=[
            {
                title:'Jessy',
                src:'./assets/images/18.png',
                text:'This is a wider card with supporting text below as a natural lead-in to additional content.',
                time:'Last updated 3 mins ago'
            },
            {
                title:'Karen',
                src:'./assets/images/25.png',
                text:'This is a wider card with supporting text below as a natural lead-in to additional content.',
                time:'Last updated 3 mins ago'
            },
            {
                title:'Chelsea',
                src:'./assets/images/36.png',
                text:'This is a wider card with supporting text below as a natural lead-in to additional content.',
                time:'Last updated 3 mins ago'
            },
            {
                title:'Jane',
                src:'./assets/images/45.png',
                text:'This is a wider card with supporting text below as a natural lead-in to additional content.',
                time:'Last updated 3 mins ago'
            }
];
%>

    <h2 class="mb-4 text-white text-center">顧客推薦</h2>
    <ul class="d-flex 顧客推薦">
        <%- include('img-card.ejs',data[0]) %>
        <%- include('img-card.ejs',data[1]) %>
        <%- include('img-card.ejs',data[2]) %>
        <%- include('img-card.ejs',data[3]) %>
        
    </ul>
