.bg-primary{
    background-color:$primary;
}
.bg-secondary{
    background-color:$secondary;

}
.bg-tertiary{
    background-color:$tertiary;
}
.bg-white{
    background-color:white;
}
.bg-white-opacity{
    background-color:rgba($color: #FFFFFF, $alpha: 0.5)
}
.opacity{
    opacity: 0.5;
}
.text-primary{
    color:$primary;
}
.text-secondary{
    color:$secondary;
}
.text-white{
    color:white;
}
.text-gray{
    color:$gray-2;
}
.link-text-white{
    color:white;
    text-decoration:none;
}