$s1:8px;
$s2:16px;
$s3:24px;
$s4:48px;
$s5:72px;

.mb-1{
    margin-bottom: $s1;
}
.mb-2{
    margin-bottom: $s2;
}
.mb-3{
    margin-bottom: $s3;
}
.mb-4{
    margin-bottom: $s4;
}
.mb-5{
    margin-bottom: $s5;
}

.mr-1{
    margin-right: $s1;
}
.mr-2{
    margin-right: $s2;
}
.mr-3{
    margin-right: $s3;
}
.mr-4{
    margin-right: $s4;
}
.mr-5{
    margin-right: $s5;
}

.m-x-auto {
    margin: 0 auto;
}

.w-100{
    width: 100%;
}
.h-100 {
    height: 100%;
}

.text-right {
    text-align: right;
  }
.text-center {
    text-align: center;
  }
.text-uppercase{
    text-transform:uppercase;
}
.text-lowercase{
    text-transform:lowercase;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.border{
    border: 1px solid #DEE2E6;
}
.checkbox-md{
    width: 20px;
    height: 20px;
}