.d-flex {
    display: flex;
}
.d-inline{
    display: inline;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-items-start {
    align-items: start;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-baseline {
    align-items: baseline;
}
.align-content-center {
    align-content: center;
}


.p-t-30 {
    padding-top: 30px;
}
.p-t-40{
    padding-top: 40px;
}
.p-t-64 {
    padding-top: 64px;
}
.p-b-24 {
    padding-bottom: 24px;
}
.p-b-30 {
    padding-bottom: 30px;
}
.p-b-80 {
    padding-bottom: 80px;
}
.p-x-37{
    padding: 0 37px;
}
.m-x-88 {
    margin: 0 88px;
}
.m-t-16{
    margin-top: 16px;
}
.m-l-17{
    margin-left: 17px;
}
.m-b-4{
    margin-bottom: 4px;
}

.m-b-8{
    margin-bottom: 8px;
}
.m-b-12{
    margin-bottom: 12px;
}
.m-b-16{
    margin-bottom: 16px;
}
.m-b-24{
    margin-bottom: 24px;
}
.m-b-32{
    margin-bottom: 32px;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-b-44{
    margin-bottom: 44px;
}
.m-b-60{
    margin-bottom: 60px;
}
.m-b-80{
    margin-bottom: 80px;
}
.m-b-144{
    margin-bottom: 144px;
}
.m-r-4 {
    margin-right: 4px;
}
.m-r-8{
    margin-right: 8px;
}
.m-r-24 {
    margin-right: 24px;
}
.m-r-64 {
    margin-right: 64px;
}
.m-x-auto {
    margin: 0 auto;
}
.m-x-24 {
    margin: 0 24px;
}
.w-100{
    width: 100%;
}
.h-100 {
    height: 100%;
}
.h1 {
    font-size: 64px;
}
.h2 {
    font-size: 48px;
    font-weight: bold;

}
.h3 {
    font-size: 36px;
}
.h4 {
    font-size: 24px;
}
.text-right {
    text-align: right;
  }
.text-center {
    text-align: center;
  }
.text-uppercase{
    text-transform:uppercase;
}
.text-lowercase{
    text-transform:lowercase;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.border{
    border: 1px solid #DEE2E6;
}
.checkbox-md{
    width: 20px;
    height: 20px;
}