$color: #00cc99 !important;
$primary: #aa0601 !important;
$secondary: #650300 !important;
$tertiary: #aa06010d;
$black: #000000;
$gray-1: #212529;
$gray-2: #707070;
$gray-3: #dee2e6;

$xll:1634px;
$xl:1296px;
$lg: 992px;
$md: 768px;
$sm:375px;

@import "reset";
@import "base";
@import "grid";
@import "utility";
@import "color";
@import "nav";
@import "footer";
@import "product"
